<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeToDo</title>
    <link type="text/css" rel="stylesheet" href="../static/lib/jedate/skin/jedate.css">
    <link type="text/css" rel="stylesheet" href="../static/css/common.css">
    <link type="text/css" rel="stylesheet" href="../static/css/FreeToDo.css">
    <link type="text/css" rel="stylesheet" href="../static/css/menu.css">
    <link type="text/css" rel="stylesheet" href="../static/css/task.css">
</head>
<body>
    <div id="whole-container">
        <div id="whole-menu">
            <div id="user-head">
                <img src="../static/img/menu/user_head.png">
                <i></i>
            </div>
            <div id="user-name">用户昵称</div>
            <nav>
                <ul>
                    <menu-item
                            :name="item.name"
                            :cname="item.cname"
                            :current="item.current"
                            @choose="choose"
                            v-for="item in menuItems">
                    </menu-item>
                </ul>
            </nav>
            <div id="bottom-menu">
                <ul>
                    <li id="menu-search" :class="{current:searching}" @click="search"><i></i></li>
                    <li id="menu-system" @click="system">...</li>
                    <ul v-show="systeming" id="system">
                            <li>帐号设置</li>
                            <li>使用帮助</li>
                            <li>退出登录</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="apps-warp">
                <div id="task-app">
                <div class="task-app-title">
                    <div class="title-left">
                        <span class="date">
                            [[currentDate]]
                        </span>
                        <i class="date-left-btn" @click="dateGo('-')"></i>
                        <i class="date-right-btn" @click="dateGo('+')"></i>
                        <a class="today-btn" href="javascript:;" @click="setToday">今天</a>
                        <ul>
                            <li :class="[dateType=='day'?'current':'',]" @click="setDateType('day')">日</li>
                            <li :class="[dateType=='week'?'current':'',]" @click="setDateType('week')">周</li>
                            <li :class="[dateType=='month'?'current':'',]" @click="setDateType('month')">月</li>
                        </ul>
                    </div>
                    <div class="title-right">
                        <select v-model="axixing" class="right-menu1">
                            <option :value="false">四象限</option>
                            <option :value="true">时间轴</option>
                        </select>
                        <select v-model="tasksType" class="right-menu2">
                            <option value="all">全部</option>
                            <option value="done">已完成</option>
                            <option value="notDone">未完成</option>
                        </select><a class="create-task" @click="createTask">+</a>
                    </div>
                </div>
                <div v-if="!axixing" id="four-quadrant">
                    <div class="four-top">
                        <quadrant :level="1"
                                  :tasks="tasks1"
                                  @new-task="newTask">
                            <span slot="rankDesc" class="rank-desc">很重要-很紧急</span>
                        </quadrant>
                        <quadrant :level="2"
                                  :tasks="tasks2"
                                  @new-task="newTask">
                            <span slot="rankDesc" class="rank-desc">重要-不紧急</span>
                        </quadrant>
                    </div>
                    <div class="four-bottom">
                        <quadrant :level="3"
                                  :tasks="tasks3"
                                  @new-task="newTask">
                            <span slot="rankDesc" class="rank-desc">不重要-紧急</span>
                        </quadrant>
                        <quadrant :level="4"
                                  :tasks="tasks4"
                                  @new-task="newTask">
                            <span slot="rankDesc" class="rank-desc">不重要-不紧急</span>
                        </quadrant>
                    </div>
                </div>
                <div v-else id="time-axix">
                    <div id="axix-add">
                        <div :class="['axix-add-icon',axixAdding?'axix-adding-icon':'']" @click="axixAdding=!axixAdding"><i></i></div>
                        <transition name="axix-add" mode="out-in">
                            <div v-if="!axixAdding" class="axix-add-btn" key="1">
                                <div>新建任务</div>
                            </div>
                            <div v-else class="axix-add-detail" key="2">
                                <div class="axix-add-input"><input type="text" placeholder="按Enter完成输入"></div>
                                <div class="axix-add-setting">
                                    <label class="level-btn level-btn-1"><input type="checkbox"><span></span></label><label class="level-btn level-btn-2"><input type="checkbox"><span></span></label><label class="level-btn level-btn-3"><input type="checkbox"><span></span></label><label class="level-btn level-btn-4"><input type="checkbox"><span></span></label>
                                    <div class="axix-add-setting-time"><input type="text" value="2016-03-23 16:30" readonly><i></i><input type="text" value="2016-03-23 16:30" readonly></div>
                                    <div>...</div>
                                </div>
                            </div>
                        </transition>
                    </div>
                    <div id="task-axix">
                        <hr>
                        <axix-tasks :tasks="tasks" day="2017-02-28 星期二">
                        </axix-tasks>
                    </div>
                </div>
            </div>
                <div id="note-app"></div>
                <div id="project-app"></div>
                <div id="tag-app"></div>
                <div id="search-app"></div>
            </div>
            <div id="task-detail">
                <div class="title">
                    <div>
                        <img src="../static/img/menu/user_head.png"><i></i>
                    </div>
                    <div class="action">
                        <template v-if="newing">
                            <a href="javascript:;" @click="close">取消</a>
                            <a href="javascript:;">保存</a>
                        </template>
                        <template v-else>
                            <a class="delete" href="javascript:;">删除</a>
                            <a href="javascript:;" @click="close">关闭</a>
                        </template>
                    </div>
                </div>
                <ul>
                    <li id="task-detail-content" :class="'task-detail-content-'+level"><label v-if="newing" :class="['level-done-btn','level-done-btn-'+level]"><input type="checkbox"><span></span></label><input type="text" placeholder="输入任务内容"></li>
                    <li id="task-detail-level">
                        <label class="level-btn level-btn-1"><input v-model="level" type="radio" name="level" :value="1"><span></span></label><span v-show="level==1">很重要-很紧急</span>
                        <label class="level-btn level-btn-2"><input v-model="level" type="radio" name="level" :value="2"><span></span></label><span v-show="level==2">重要-不紧急</span>
                        <label class="level-btn level-btn-3"><input v-model="level" type="radio" name="level" :value="3"><span></span></label><span v-show="level==3">不重要-紧急</span>
                        <label class="level-btn level-btn-4"><input v-model="level" type="radio" name="level" :value="4"><span></span></label><span v-show="level==4">不重要-不紧急</span>
                    </li>
                    <li id="task-detail-time"><i></i><input class="start-time-input" type="text" readonly><i></i><input class="end-time-input" type="text" readonly></li>
                    <li id="task-detail-project"><i></i><input type="text" placeholder="项目名称"></li>
                    <li id="task-detail-tags"><i></i><span class="task-detail-tag">啊啊<i></i></span><input type="text" placeholder="+标签" readonly></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="x-template" id="menu-item-template">
        <li :id="id" :class="{current:current}" @click="choose">
            <i></i>[[cname]]
        </li>
    </script>
    <script type="x-template" id="quadrant-template">
        <div :id="quadrantID" class="quadrant">
            <div class="rank-line" @click.stop="clickAdd">
                <slot name="rankDesc"></slot>
                <a class="add" href="javascript:;">+</a>
                <transition name="add">
                    <div v-show="adding" class="task-create" @click.stop="">
                        <div class="create-input"><input v-model="newContent" type="text" placeholder="输入任务，按Enter键完成" @keyup.enter="newTask"><i></i></div>
                        <div class="create-time">
                            <input ref="startTime" class="start-time-input" type="text" readonly><i></i><input ref="endTime" class="end-time-input" type="text" readonly><span class="more-set">...</span>
                        </div>
                    </div>
                </transition>
            </div>
            <ul>
                <li v-for="task in tasks">
                    <label>
                        <input v-model="task.done" type="checkbox">
                        <span></span>
                    </label>
                    <span>[[task.content]]</span><time>[[task.startTime]]</time>
                </li>
            </ul>
        </div>
    </script>
    <script type="x-template" id="axix-tasks-template">
        <div class="axix-tasks">
            <div class="axix-tasks-title">
                <i></i>
                <time>[[day]]</time>
            </div>
            <ul>
                <li v-for="task in tasks">
                    <time>[[task.startTime.slice(-5)]]</time>
                    <label :class="['level-done-btn','level-done-btn-'+task.level]"><input type="checkbox"><span></span></label>
                    <div>
                        <div class="axix-task-content">[[task.content]]</div>
                        <div><i></i><time>[[task.endTime]]</time><i></i></div>
                    </div>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/javascript" src="../static/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../static/lib/vue.js"></script>
    <script type="text/javascript" src="../static/lib/jedate/jquery.jedate.js"></script>
    <script type="text/javascript" src="../static/js/class.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>