<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeToDo</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css">
    <link type="text/css" rel="stylesheet" href="../static/css/FreeToDo.css">
</head>
<body>
    <div id="whole-container">
        <div id="whole-menu">
            <div id="user-head">
                <img src="../static/img/menu/user_head.png">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../static/lib/vue.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>