#whole-menu{
    position: fixed;
    width: 90px;
    height: 100%;
    background-color: #353d40;
    color: #a0a9ad;
    font-size: 12px;
}

#main{
    position: relative;
    margin-left: 90px;
    height: 100%;
}

