#apps-warp{
    height: 100%;
}
#task-app{
    position: relative;
    height: 100%;
}
div.task-app-title{
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}
div.title-left,div.title-right{
    height: 100%;
    line-height: 45px;
}
div.title-left {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    float: left;
}
div.title-right{
    float: right;
}
div.title-left>*,div.title-right >*{
    display: inline-block;
    vertical-align: middle;
}
div.task-app-title ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 28px;
    list-style-type: none;
    border: 1px solid #e5e5e5;
    border-right:none;
}
div.task-app-title ul li{
    float: left;
    cursor: pointer;
    padding: 0 12px;
    height: 100%;
    line-height: 28px;
    border-right: 1px solid #e5e5e5;
}
div.task-app-title ul li.current,div.task-app-title ul li:hover{
    background-color: #2bbff3;
    border-color: #2bbff3;
    color: white;
}
div.title-right{
    float: right;
}
span.date{
    width: 100px;
}
i.date-left-btn,i.date-right-btn{
    width: 25px;
    height: 27px;
    cursor: pointer;
    background-image: url(../img/icon.png);
}
i.date-left-btn{
    background-position: 0 -106px;
}
i.date-right-btn{
    background-position: -3px -138px;
}

i.date-left-btn:hover{
    background-position: -32px -106px;
}
i.date-right-btn:hover{
    background-position: -35px -138px;
}
a.create-task{
    cursor: pointer;
    font-size: 40px;
    line-height: 35px;
    width: 25px;
    height: 40px;
    margin-left: 10px;
    color: rgb(0,192,238);
}
a.create-task:hover{
    color: #2a6496;
}
a.today-btn{
    display: inline-block;
    background-color: #2bbff3;
    height: 18px;
    padding: 5px 12px;
    line-height: 18px;
    color: white;
    margin-right: 15px;
}
div.title-right select{
    width: 70px;
    height: 25px;
    text-align: center;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
    box-sizing: border-box;
}

#four-quadrant{
    padding-top: 45px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
div.four-top,div.four-bottom{
    height: 50%;
    position: relative;
}
div.quadrant{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    float: left;
    overflow: auto;
    padding-top: 10px;
}
#quadrant-1,#quadrant-2{
    border-bottom: 1px solid #e5e5e5;
}
#quadrant-1,#quadrant-3{
    border-right: 1px solid #e5e5e5;
}
div.quadrant div.rank-line{
    position: relative;
    margin: 0 20px;
    height: 45px;
    padding: 0 10px;
    z-index: 20;
    cursor: pointer;
}
div.rank-line span.rank-desc{
    height: 45px;
    line-height: 45px;
}
div.rank-line a.add{
    display: block;
    float: right;
    width: 30px;
    height: 45px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    color: #8e9298;
}
div.quadrant ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 20px;
    z-index: 5;
}
div.quadrant ul li{
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px dashed #e5e5e5;
}
div.quadrant ul li>*{
    display: inline-block;
    vertical-align: middle;
}
div.quadrant ul li>span{
    width: 50%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.quadrant ul li time{
    float: right;
    font-size: 14px;
    color: #bcc3c5;
}
div.quadrant ul li:hover{
    background-color: #e5e5e5;
}
div.quadrant ul li label{
    height: 40px;
    line-height: 40px;
}
div.quadrant ul li input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
div.quadrant ul li input+span{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#quadrant-1 div.rank-line{
    background-color: #ffede7;
    color: #f76333;
}
#quadrant-1 ul li input+span{
    background: url(../img/icon.png) 0px -942px;
}
#quadrant-1 ul li input:checked+span{
    background-position: -32px -942px;
}
#quadrant-2 div.rank-line{
    background-color: #ffefcb;
    color:#feae6a;
}
#quadrant-2 ul li input+span{
    background: url(../img/icon.png) 0px -974px;
}
#quadrant-2 ul li input:checked+span{
    background-position: -32px -974px;
}
#quadrant-3 div.rank-line{
    background-color: #d6f4fe;
    color: #3fb6da;
}
#quadrant-3 ul li input+span{
    background: url(../img/icon.png) 0px -1006px;
}
#quadrant-3 ul li input:checked+span{
    background-position: -32px -1006px;
}
#quadrant-4 div.rank-line{
    background-color: #efd;
    color: #89c557;
}
#quadrant-4 ul li input+span{
    background: url(../img/icon.png) 0px -1038px;
}
#quadrant-4 ul li input:checked+span{
    background-position: -32px -1038px;
}
div.rank-line div.task-create{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
div.create-input{
    position: relative;
    width: 100%;
    height: 35px;
}
div.create-input input{
    box-sizing: border-box;
    padding: 0 35px 0 10px;
    width: 100%;
    height: 35px;
    border: 1px solid;
}
div.create-input i{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: url(../img/icon.png) 0 -166px;
}
#quadrant-1 div.create-input input{
    background-color: #ffede7;
    border-color: #f76333;
}
#quadrant-2 div.create-input input{
    background-color: #ffefcb;
    border-color: #feae6a;
}
#quadrant-3 div.create-input input{
    background-color: #d6f4fe;
    border-color: #3fb6da;
}
#quadrant-4 div.create-input input{
    background-color: #efd;
    border-color: #89c557;
}
div.create-time{
    position: relative;
    height: 40px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top:none ;
}
div.create-time >*{
    display: inline-block;
    vertical-align: middle;
}
div.create-time i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icon.png) -3px -138px;
}
div.create-time input{
    box-sizing: border-box;
    background: #fff;
    border: none;
    width: 115px;
    height: 100%;
    line-height: 40px;
    font-size: 15px;
    cursor: pointer;
}
div.create-time span.more-set{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 24px;
    color:#a5a5a5;
    line-height: 15px;
    text-align: center;
    width:40px;
    height: 24px;
    border-left: 2px solid #e5e5e5;
}

.add-enter-active{
    animation: add-in 0.2s;
}
.add-leave-active{
    animation: add-out 0.2s;
}
@keyframes add-in{
    from{
        height: 0;
    }
    to{
        height: 76px;
    }
}
@keyframes add-out{
    from{
        height: 76px;
    }
    to{
        height: 0px;
    }
}

/*****************/

#task-detail{
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    top: 0;
    right: 0;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.25);
}

#task-detail div.title{
    position: relative;
    display: block;
    margin: 0 10px;
    height: 45px;
    line-height: 45px;
}
#task-detail div.title >*{
    display: inline-block;
    vertical-align: middle;
}
#task-detail div.title >div:first-child{
    position: relative;
    width: 26px;
    height: 26px;
}
#task-detail div.title >div:first-child img{
    display: block;
    width: 100%;
    height: 100%;
}
#task-detail div.title >div:first-child i{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/icon.png) -67px -1327px;
}
#task-detail div.action{
    position: absolute;
    height: 100%;
    right: 0;
}
#task-detail div.action a{
    display: inline-block;
    margin: 0 10px;
    height: 100%;
}

#task-detail div.action a:first-child{
    color: #a5a5a5;
}
#task-detail div.action a:last-child{
    color: #00c0ee;
}
#task-detail div.action a.delete{
    color: #e0622c;
}

#task-detail >ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#task-detail >ul >li{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom:1px solid #e5e5e5;
}
#task-detail >ul li>*{
    display: inline-block;
    vertical-align: middle;
}
.task-detail-content-1{
    background-color: #ffede7;
}
.task-detail-content-2{
    background-color: #ffefcb;
}
.task-detail-content-3{
    background-color: #d6f4fe;
}
.task-detail-content-4{
    background-color: #efd;
}

#task-detail-content input{
    height: 100%;
    box-sizing: border-box;
    width: 300px;
    border: none;
    background-color: transparent;
}
#task-detail-content label{
    position: relative;
    left: -3px;
}

#task-detail-level >span{
    font-size: 13px;
}
#task-detail-level label{
    margin-left: 4px;
}
#task-detail-time i{
    width: 14px;
    height: 15px;
    background:url(../img/icon.png) -15px -145px;
}
#task-detail-time i:first-child{
    width: 32px;
    height: 32px;
    background:url(../img/icon.png)  0 -360px;
}
#task-detail-time:hover i:first-child{
    background: url(../img/icon.png) -32px -360px;
}
#task-detail-time input{
    box-sizing: border-box;
    width: 125px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#task-detail-project{
    position: relative;
}

#task-detail-project >i:first-child{
    width: 32px;
    height: 32px;
    background: url(../img/icon.png) 0 -425px;
}
#task-detail-project:hover >i:first-child{
    background: url(../img/icon.png) -32px -425px;
}
#task-detail-project:hover >i:last-child{
    display: block;
}
#task-detail-project >i:last-child{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 4px;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../img/icon.png) ;
    background-position: 0px -748px;
}
#task-detail-project >i:last-child.show{
    display: none;
}
#task-detail-project >i:last-child:hover{
    background-position: -32px -748px;
}
#task-detail-project input{
    width: 125px;
    border: none;
    background: transparent;
    cursor: pointer;
}
#task-detail-tags{
    position: relative;
    height: auto !important;
    min-height: 40px;
}
#task-detail-tags >i{
    width: 32px;
    height: 32px;
    background: url(../img/icon.png) 0 -457px;
}
#task-detail-tags:hover >i{
    background: url(../img/icon.png) -32px -457px;
}
#task-detail-tags >span{
    display: inline-block;
    height: 32px;
}
#task-detail-tags input{
    border: none;
    background-color: transparent;
    width: 50px;
    cursor: pointer;
}
#task-detail-tags span.task-detail-tag{
    margin-right:20px ;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    background-color:#f8f8f8;
    border: 1px solid #e8e8e8;
}
span.task-detail-tag i{
    display: none;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(../img/icon.png) 1px -754px;
}
#task-detail-tags span.task-detail-tag:hover i{
    display: inline-block;
}
span.task-detail-tag i:hover{
    background: url(../img/icon.png) -31px -754px;
}
#task-detail-tags span.task-detail-tag:hover{
    border-color: #3fb6da;
    background-color: #d6f4fe;
}
/**********************/

#time-axix{
    padding-top: 45px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
#axix-add{
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.axix-add-icon{
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin:auto 0 auto 52px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #e0e4e6;
    border-radius: 50%;
}
.axix-add-icon i{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/icon.png);
    background-position: -32px -72px;
    transition: all 0.1s;
}
.axix-adding-icon i{
    transform: rotate(45deg);
}
.axix-add-btn{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-left: 100px;
    vertical-align: middle;
    color: #999;
}
.axix-add-detail{
    margin-left: 100px;
}
.axix-add-input{
    position: relative;
    height: 40px;
    box-sizing: border-box;
}
.axix-add-input input{
    position: absolute;
    bottom: 0;
    padding: 5px;
    border: none;
    width: 500px;
    border-bottom: 1px dashed #e5e5e5;
}
.axix-add-setting{
    height: 40px;
    line-height: 40px;
}
.axix-add-setting >*{
    display: inline-block;
    vertical-align: middle;
}
label.level-btn{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
}
label.level-btn input{
    position: absolute;
    opacity: 0;
    z-index:-1;
}

label.level-btn input+span{
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon.png);
}
label.level-btn-1 input+span{
    background-position: -4px -591px;
}
label.level-btn-1 input:checked+span{
    background-position: -36px -591px;
}
label.level-btn-2 input+span{
    background-position: -4px -625px;
}
label.level-btn-2 input:checked+span{
    background-position: -36px -625px;
}
label.level-btn-3 input+span{
    background-position: -4px -657px;
}
label.level-btn-3 input:checked+span{
    background-position: -36px -657px;
}
label.level-btn-4 input+span{
    background-position: -4px -689px;
}
label.level-btn-4 input:checked+span{
    background-position: -36px -689px;
}

div.axix-add-setting-time{
    height: 25px;
    line-height: 25px;
    border: 2px solid #c5c5c5;
    border-top: none;
    border-bottom: none;
}
div.axix-add-setting-time >*{
    display: inline-block;
    vertical-align: middle;
}
div.axix-add-setting-time input{
    box-sizing: border-box;
    border: none;
    width: 150px;
    padding: 0 10px;
    font-size: 16px;
    cursor:pointer;
}
div.axix-add-setting-time i{
    width: 25px;
    height: 25px;
    background: url(../img/icon.png) -4px -138px;
}
div.axix-add-setting-time+div{
    margin-left: 10px;
    font-size: 25px;
    height: 25px;
    color: #a5a5a5;
    line-height: 15px;
}

.axix-add-enter,.axix-add-leave-active{
    opacity: 0;
}

.axix-add-enter-active,.axix-add-leave-active{
    transition: all 0.3s;
}
.axix-add-leave-active{
    position: absolute !important;
}
.axix-add-move{
    transition: all 0.3s;
}
#task-axix{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 80px;
}
hr.axix-hr{
    display: block;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 100%;
    background-color: #eceeef;
    border: none;
    position: absolute;
    left: 68px;
}
.axix-tasks-title{
    position: relative;
    height: 40px;
}
.axix-tasks-title i{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 64px;
    top: 15px;
    background-color: #e0e4e6;
    border-radius: 50%;
}
.axix-tasks-title time{
    margin-left: 100px;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #999;
}

.axix-tasks{
    margin-bottom: 20px;
}

.axix-tasks ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.axix-tasks ul li{
    height: 45px;
}
.axix-tasks ul li >time{
    float: left;
    display: block;
    width: 53px;
    color: #999;
    text-align: center;
    height: 31px;
    line-height: 31px;
    font-size: 15px;
}

label.level-done-btn{
    display: inline-block;
    width: 31px;
    height: 31px;
    position: relative;
}
label.level-done-btn input{
    position: absolute;
    opacity:0;
    z-index: -1;
}
label.level-done-btn input+span{
    display: inline-block;
    width: 31px;
    height: 31px;
    cursor: pointer;
    background-image: url(../img/icon.png);
}

label.level-done-btn-1 input+span{
    background-position: 0 -942px;
}
label.level-done-btn-1 input:checked+span{
    background-position: -32px -942px;
}
label.level-done-btn-2 input+span{
    background-position: 0 -974px;
}
label.level-done-btn-2 input:checked+span{
    background-position: -32px -974px;
}
label.level-done-btn-3 input+span{
    background-position: 0 -1006px;
}
label.level-done-btn-3 input:checked+span{
    background-position: -32px -1006px;
}
label.level-done-btn-4 input+span{
    background-position: 0 -1038px;
}
label.level-done-btn-4 input:checked+span{
    background-position: -32px -1038px;
}
.axix-tasks ul li label{
    float: left;
}
.axix-tasks ul li >div{
    margin-left: 100px;
    height: 100%;
    cursor: pointer;
}
.axix-tasks ul li >div:hover{
    background-color: #f9f9f9;
}
.axix-task-content{
    font-size: 15px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.axix-task-content+div{
    color: #999;
    font-size: 13px;
}
.axix-task-content+div >*{
    display: inline-block;
    vertical-align: middle;
}
.axix-task-content+div i:first-child{
    width: 24px;
    height: 24px;
    background:url(../img/icon.png) -4px -364px;
}
.axix-task-content+div time{
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
}
.axix-task-content+div time+i{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    background: url(../img/icon.png) -4px -267px;
}

#task-detail-project-list,#task-detail-tags-list{
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 40px;
    left: 20px;
    background-color: #fff;
    box-shadow: 0 2px 15px #c4c4c4;
    z-index: 200;
    max-height: 200px;
}
#task-detail-project-list li,#task-detail-tags-list li{
    box-sizing: border-box;
    padding: 0 10px;
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
#task-detail-project-list li:hover,#task-detail-tags-list li:hover{
    background-color: #f5f5f5;
}
#task-detail-project-list li.current,#task-detail-tags-list li:hover{
    color: #2bbff3;
}
#task-detail-project-list li.current i,#task-detail-tags-list li:hover i{
    background-position: -35px -711px;
}
#task-detail-project-list li i,#task-detail-tags-list li i{
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 40px;
    background-image: url(../img/icon.png);
    background-position: -3px -711px;
}